@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9810 0.0054 297.7275);
  --foreground: oklch(0 0 0);
  --card: oklch(0.9699 0.0093 292.7984);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9810 0.0054 297.7275);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.5132 0.2648 281.7680);
  --primary-foreground: oklch(0.9743 0.0121 296.3552);
  --secondary: oklch(0.9137 0.0040 286.3196);
  --secondary-foreground: oklch(0.3987 0.0119 298.8984);
  --muted: oklch(0.8956 0.0054 286.2899);
  --muted-foreground: oklch(0.4541 0.0409 295.7329);
  --accent: oklch(0.8498 0.0139 295.2777);
  --accent-foreground: oklch(0.3221 0.0249 294.7874);
  --destructive: oklch(0.6192 0.2419 11.3318);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.5132 0.2648 281.7680);
  --chart-1: oklch(0.5132 0.2648 281.7680);
  --chart-2: oklch(0.9137 0.0040 286.3196);
  --chart-3: oklch(0.8498 0.0139 295.2777);
  --chart-4: oklch(0.9376 0.0027 286.3482);
  --chart-5: oklch(0.5117 0.2704 280.9991);
  --sidebar: oklch(0.9370 0 0);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.4891 0 0);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8078 0 0);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.8576 0 0);
  --sidebar-ring: oklch(0.4891 0 0);
  --font-sans: Bai Jamjuree, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(0 0% 20% / 0.1);
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1162 0.0199 299.4097);
  --foreground: oklch(0.9807 0.0041 301.4259);
  --card: oklch(0.1311 0.0213 295.1377);
  --card-foreground: oklch(0.9913 0.0013 286.3760);
  --popover: oklch(0.1162 0.0199 299.4097);
  --popover-foreground: oklch(0.9807 0.0041 301.4259);
  --primary: oklch(0.5132 0.2648 281.7680);
  --primary-foreground: oklch(0.9743 0.0121 296.3552);
  --secondary: oklch(0.1982 0.0061 300.9963);
  --secondary-foreground: oklch(0.7442 0.0173 297.4108);
  --muted: oklch(0.2425 0.0095 294.8514);
  --muted-foreground: oklch(0.6800 0.0370 296.3967);
  --accent: oklch(0.2460 0.0190 294.1287);
  --accent-foreground: oklch(0.7788 0.0256 295.9807);
  --destructive: oklch(0.6192 0.2419 11.3318);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2781 0.0296 256.8480);
  --input: oklch(0.2781 0.0296 256.8480);
  --ring: oklch(0.5132 0.2648 281.7680);
  --chart-1: oklch(0.5132 0.2648 281.7680);
  --chart-2: oklch(0.1982 0.0061 300.9963);
  --chart-3: oklch(0.2460 0.0190 294.1287);
  --chart-4: oklch(0.2297 0.0096 294.7997);
  --chart-5: oklch(0.5117 0.2704 280.9991);
  --sidebar: oklch(0.2393 0 0);
  --sidebar-foreground: oklch(0.8853 0 0);
  --sidebar-primary: oklch(0.7058 0 0);
  --sidebar-primary-foreground: oklch(0.2178 0 0);
  --sidebar-accent: oklch(0.3715 0 0);
  --sidebar-accent-foreground: oklch(0.8853 0 0);
  --sidebar-border: oklch(0.3290 0 0);
  --sidebar-ring: oklch(0.7058 0 0);
  --font-sans: Bai Jamjuree, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(0 0% 20% / 0.1);
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    scrollbar-width: thin;
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* scrollbar styles */
  /* Works for Chrome, Safari, Edge */
  ::-webkit-scrollbar {
    width: 6px; /* slim scrollbar */
    height: 6px; /* for horizontal scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px; /* rounded edges */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* track behind scrollbar */
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}